
ion-tabs {
  ion-tab-bar {
    background: #fff;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #cfdbd5b2;
    // --background: linear-gradient(180deg, #ffffff 0%, #d5e9f8 100%);

  }
}