<ion-tabs mode="md">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <fa-icon [icon]="faHome" class="text-base" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visitors" href="/tabs/visitors">
      <fa-icon [icon]="faUserGroup" class="text-base" />
      <ion-label>Visitantes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations" href="/tabs/reservations">
      <fa-icon [icon]="faCalendarCheck" class="text-base" />
      <ion-label>Mis visitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <fa-icon [icon]="faUser" class="text-base" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
